@import '../../variables.scss';

/*------------------
  Muuri Styles
------------------*/
.muuri-item {
  display: block;
  position: absolute;
  z-index: 1;
}
.muuri-item-dragging {
  z-index: 100;
}
.muuri-item-releasing {
  z-index: 2;
}
.muuri-item-hidden {
  z-index: 0;
  display: none;
}

/*------------------
  Base Bookmark Styles
------------------*/
.bookmarks {
  position: relative;
  margin: 0 auto;
}
.bookmark {
  padding: 10px 0 5px;
  cursor: pointer;
  position: relative;
  .bookmark-image {
    margin: 0 auto;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
    .placeholder {
      width: 100%;
      height: 100%;
      font-size: 24px;
      font-weight: bold;
      background: $light-gray;
      color: $dark-gray;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .context-menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    padding: 2px 5px;
    color: $light-gray;
    opacity: 0;
    transition: opacity 125ms ease-in;
  }
  &:hover .context-menu-icon {
    opacity: 1;
  }
  p {
    margin-top: 0.5em;
    margin-bottom: 0;
    text-align: center;
    line-height: 1.2em;
    height: 2.4em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &.add {
    color: #333;
    background: none;
    border: 0;
    .bookmark-image {
      // background: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.bookmarks.drawer .add {
  display: none;
}
// .group {
//   width: 360px;
//   .bookmark {
//     display: inline-block;
//   }
// }

/*------------------
  Bookmark Sizes and Shapes
------------------*/
.bookmarks.small {
  // margin-left: -8px;
  // margin-right: -8px;
  .bookmark {
    width: 65px;
    margin: 0 8px;
    margin-bottom: 8px;
    .bookmark-image {
      width: 40px;
      height: 40px;
    }
    p {
      font-size: 10px;
    }
  }
}
.bookmarks.medium {
  // margin-left: -10px;
  // margin-right: -10px;
  .bookmark {
    width: 80px;
    margin: 0 10px;
    margin-bottom: 10px;
    .bookmark-image {
      width: 50px;
      height: 50px;
    }
    p {
      font-size: 12px;
    }
  }
}
.bookmarks.large {
  // margin-left: -12px;
  // margin-right: -12px;
  .bookmark {
    width: 95px;
    margin: 0 12px;
    margin-bottom: 12px;
    .bookmark-image {
      width: 60px;
      height: 60px;
    }
    p {
      font-size: 15px;
    }
  }
}
.rounded {
  .bookmark .bookmark-image {
    border-radius: 25%;
  }
}
.circle {
  .bookmark .bookmark-image {
    border-radius: 50%;
  }
}

/*------------------
  Media Queries
------------------*/
$small-width: 81px;
$medium-width: 100px;
$large-width: 119px;

.bookmarks.small {
  width: 3*$small-width;
  margin: 0 auto;
}
.bookmarks.small {
  @media (min-width: 4*$small-width) {
    width: 4*$small-width;
  }
  @media (min-width: 5*$small-width) {
    width: 5*$small-width;
  }
  @media (min-width: 6*$small-width) {
    width: 6*$small-width;
  }
  @media (min-width: 7*$small-width) {
    width: 7*$small-width;
  }
}
$small-width-7: 7*$small-width + 120px;
$small-width-8: 8*$small-width + 120px;
.bookmarks.page-bookmarks.small {
  @media (min-width: 600px) {
    width: 6*$small-width;
  }
  @media (min-width: $small-width-7) {
    width: 7*$small-width;
  }
  @media (min-width: $small-width-8) {
    width: 8*$small-width;
  }
}
.bookmarks.medium {
  width: 3*$medium-width;
  margin: 0 auto;
}
.bookmarks.medium {
  @media (min-width: 4*$medium-width) {
    width: 4*$medium-width;
  }
  @media (min-width: 5*$medium-width) {
    width: 5*$medium-width;
  }
}
$medium-width-6: 6*$medium-width + 120px;
$medium-width-7: 7*$medium-width + 120px;
$medium-width-8: 8*$medium-width + 120px;
.bookmarks.page-bookmarks.medium {
  @media (min-width: 600px) {
    width: 5*$medium-width;
  }
  @media (min-width: $medium-width-6) {
    width: 6*$medium-width;
  }
  @media (min-width: $medium-width-7) {
    width: 7*$medium-width;
  }
  @media (min-width: $medium-width-8) {
    width: 8*$medium-width;
  }
}
.bookmarks.large {
  width: 2*$large-width;
  margin: 0 auto;
}
.bookmarks.large {
  @media (min-width: 4*$large-width) {
    width: 4*$large-width;
  }
  @media (min-width: 4*$large-width) {
    width: 4*$large-width;
  }
  @media (min-width: 5*$large-width) {
    width: 5*$large-width;
  }
}
$large-width-5: 5*$large-width + 120px;
$large-width-6: 6*$large-width + 120px;
$large-width-7: 7*$large-width + 120px;
$large-width-8: 8*$large-width + 120px;
.bookmarks.page-bookmarks.large {
  @media (min-width: 600px) {
    width: 4*$large-width;
  }
  @media (min-width: $large-width-5) {
    width: 5*$large-width;
  }
  @media (min-width: $large-width-6) {
    width: 6*$large-width;
  }
  @media (min-width: $large-width-7) {
    width: 7*$large-width;
  }
  @media (min-width: $large-width-8) {
    width: 8*$large-width;
  }
}

/*------------------
  Row Size Adjustments
------------------*/
.bookmarks.page-bookmarks.small {
  &.per-row-8, &.qty-7 {
    max-width: 8*$small-width;
  }
  &.per-row-7, &.qty-6 {
    max-width: 7*$small-width;
  }
  &.per-row-6, &.qty-5 {
    max-width: 6*$small-width;
  }
  &.per-row-5, &.qty-4 {
    max-width: 5*$small-width;
  }
  &.per-row-4, &.qty-3 {
    max-width: 4*$small-width;
  }
  &.qty-2 {
    max-width: 3*$small-width;
  }
  &.qty-1 {
    max-width: 2*$small-width;
  }
  &.qty-0 {
    max-width: 1*$small-width;
  }
}
.bookmarks.page-bookmarks.medium {
  &.per-row-8, &.qty-7 {
    max-width: 8*$medium-width;
  }
  &.per-row-7, &.qty-6 {
    max-width: 7*$medium-width;
  }
  &.per-row-6, &.qty-5 {
    max-width: 6*$medium-width;
  }
  &.per-row-5, &.qty-4 {
    max-width: 5*$medium-width;
  }
  &.per-row-4, &.qty-3 {
    max-width: 4*$medium-width;
  }
  &.qty-2 {
    max-width: 3*$medium-width;
  }
  &.qty-1 {
    max-width: 2*$medium-width;
  }
  &.qty-0 {
    max-width: 1*$medium-width;
  }
}
.bookmarks.page-bookmarks.large {
  &.per-row-8, &.qty-7 {
    max-width: 8*$large-width;
  }
  &.per-row-7, &.qty-6 {
    max-width: 7*$large-width;
  }
  &.per-row-6, &.qty-5 {
    max-width: 6*$large-width;
  }
  &.per-row-5, &.qty-4 {
    max-width: 5*$large-width;
  }
  &.per-row-4, &.qty-3 {
    max-width: 4*$large-width;
  }
  &.qty-2 {
    max-width: 3*$large-width;
  }
  &.qty-1 {
    max-width: 2*$large-width;
  }
  &.qty-0 {
    max-width: 1*$large-width;
  }
}

/*------------------
  Drawer Adjustments
------------------*/
.bookmarks.drawer {
  margin-left: -15px;
}
@media (min-width: 600px) {
  .bookmarks.drawer {
    margin-left: auto;
  }
  .bookmarks.drawer.small {
    width: 4*$small-width;
  }
  .bookmarks.drawer.medium {
    width: 3*$medium-width;
  }
  .bookmarks.drawer.large {
    width: 3*$large-width;
    margin-left: -12px;
  }
}

/*------------------
  Folder Adjustments
------------------*/
.bookmarks.folder-contents {
  margin-left: -15px;
  margin-right: -15px;
}

/*------------------
  Introduction
------------------*/
.bookmarks + .intro {
  display: none;
}
.bookmarks.qty-0 + .intro {
  display: block;
  text-align: center;
  line-height: 1.4em;
}

/*------------------
  Context Menu
------------------*/
.react-contextmenu {
  border: 1px solid $light-gray;
  z-index: 20;
  background: #fff;
  border-radius: 7px;
  overflow: hidden;
}
.react-contextmenu--visible + .context-menu-icon {
  opacity: 1;
}
.react-contextmenu-item {
  padding: 6px 8px;
  border-bottom: 1px solid $light-gray;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background: $lightest-gray;
  }
  &:last-of-type {
    border-bottom: 0;
  }
}
.drawer {
  .hide-btn, .group-btn {
    display: none;
  }
}
