@import '../../variables.scss';

/*------------------
  Login
------------------*/
.login-page {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .features {
    background: #ddd;
    height: 150px;
    max-width: 300px;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    h2 {
      align-self: flex-end;
      max-width: 350px;
      text-align: center;
    }
  }
  .login-box, .registration-box {
    width: 340px;
    margin: 0 auto;
    border: 1px solid $dark-gray;
    padding: 20px;
    label, input {
      display: block;
    }
    input {
      width: 100%;
    }
    .forgot-password-button {
      display: inline-block;
      vertical-align: top;
      margin-top: -10px;
      margin-bottom: 1em;
    }
    .btn {
      display: block;
      text-align: center;
    }
  }
  .success, .failure {
    background: $gray;
    color: #fff;
    padding: 8px 5px;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
  }
  .success {
    background: $green;
  }
  .failure {
    background: $red;
  }
}

@media (min-width: 800px) {
  .login-page {
    .wrapper {
      // display: flex;
      // flex-direction: row;
      // section {
      //   flex: 50%;
      // }
    }
    .features {
      // height: 500px;
    }
    .login {
      display: flex;
    }
    .login-box, .registration-box {
      align-self: center;
    }
  }
}

/*------------------
  Register
------------------*/
.requirements {
  display: flex;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
  margin-top: -10px;
  li {
    width: 125px;
    color: $gray;
    font-size: 14px;
    line-height: 1.4em;
    i {
      font-size: 12px;
      margin-right: 3px;
      color: $light-gray;
    }
    &.met-true {
      color: $dark-green;
      i {
        color: $green;
      }
    }
  }
}
