@import '../../variables.scss';

/*------------------
  Login
------------------*/

// Layout
.login-page {
  padding-bottom: 50px;
  min-height: 100vh;
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .login {
    padding-right: 15px;
  }
  .demoButton {
    width: 340px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    display: block;
  }
}
@media (min-width: 600px) {
  .login-page {
    background: $lightest-gray;
  }
}

@media (min-width: 1200px) {
  .login-page {
    padding-bottom: 0;
    display: flex;
    align-items: center;
    .wrapper {
      flex-direction: row;
      height: auto;
      min-height: unset;
    }
    .features {
      width: calc(100% - 400px);
      flex-grow: 1;
      padding-right: 50px;
      // display: flex;
      // align-items: center;
    }
    .login {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      flex-direction: column;
    }
    .features, .login {
    }
  }
}

// Slider
.slider-container {
  padding-bottom: 40px;
  margin-bottom: 40px;
  background: $lighter-gray;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 15px;
  .screenshot {
    display: none;
  }
  .mobile-screenshot {
    max-width: 80%;
    margin: 0 auto;
  }
  h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 20px;
  }
  .slick-prev, .slick-next {
    top: unset;
    bottom: -11px;
    z-index: 1;
    &:before {
      color: $lighter-gray;
      font-size: 24px;
    }
  }
  .slick-prev {
    left: 20px;
  }
  .slick-next {
    right: 20px;
  }
}

@media (min-width: 600px) {
  .slider-container {
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    border: 1px solid $light-gray;
    background: #fff;
    box-shadow: $box-shadow;
    padding-bottom: 0;
    line-height: 0;
    margin-top: 20px;
    .screenshot {
      display: block;
      max-width: 100%;
    }
    .mobile-screenshot {
      display: none;
    }
    h2 {
      margin-top: -50px;
      margin-bottom: 50px;
      color: #fff;
      text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
    }
    .slick-dots {
      bottom: 5px;
    }
    .slick-dots li.slick-active button:before, .slick-dots li button:before {
      color: #fff;
    }
    .slick-prev, .slick-next {
      bottom: 27px;
    }
  }
}
@media (min-width: 1200px) {
  .slider-container {

  }
}

// Login Box
.login-box, .registration-box {
  width: 340px;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid $light-gray;
  background: #fff;
  padding: 20px;
  label, input {
    display: block;
  }
  input {
    width: 100%;
  }
  .forgot-password-button {
    display: inline-block;
    vertical-align: top;
    margin-top: -10px;
    margin-bottom: 1em;
  }
  button, .btn {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }
  .success, .failure {
    background: $gray;
    color: #fff;
    padding: 8px 5px;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
  }
  .success {
    background: $green;
  }
  .failure {
    background: $red;
  }
}

/*------------------
  Register
------------------*/
.requirements {
  display: flex;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
  margin-top: -10px;
  li {
    width: 125px;
    color: $gray;
    font-size: 14px;
    line-height: 1.4em;
    i {
      font-size: 12px;
      margin-right: 3px;
      color: $light-gray;
    }
    &.met-true {
      color: $dark-green;
      i {
        color: $green;
      }
    }
  }
}

@media (min-width: 1200px) {
  .login-box, .registration-box {
    // margin-top: -50%;
  }
}
