.settings-container {
  .setting-group {
    margin-bottom: 25px;
  }
  .setting {
    margin-bottom: 15px;
  }
  small {
    display: block;
  }
  .switch {
    margin-bottom: 5px;
    margin-left: 5px;
  }
  h4 {
    margin-bottom: 0.75em;
  }
}
