@import '../../../variables.scss';

.search-form {
  position: relative;
  .google-search {
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 7px;
    border-color: $gray;
  }
  button {
    position: absolute;
    top: 0;
    right: 16px;
    background: none;
    border: none;
    border-radius: 0;
    color: $gray;
    padding: 13px 13px;
  }
  @media (min-width: 600px) {
    button {
      right: 71px;
    }
  }
  @media (min-width: 800px) {
    .google-search {
      width: calc(100% - 50px);
    }
    button {
      right: 96px;
    }
  }
}
