@import '../../variables.scss';

.sidebar-container {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  &.show-false .sidebar {
    // visibility: hidden;
    position: absolute;
    display: none;
    // left: 100vw;
  }
  &.show-true .sidebar {
    // visibility: visible;
    position: unset;
    left: unset;
  }
}

.buttons-container {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  box-shadow: $box-shadow;
  button {
    flex: 1 0 21%;
    height: 50px;
    font-size: 20px;
    color: $light-gray;
    background: $lightest-gray;
  }
  button + button {
    margin-left: -1px;
  }
  button:last-of-type {
    border-right: 0;
  }
}
.sidebar-container.show-true .buttons-container .active, .bookmarks-btn.active {
  color: $purple;
}

@media (min-width: 600px) {
  .buttons-container {
    position: absolute;
    bottom: unset;
    align-self: center;
    left: -60px;
    width: unset;
    flex-direction: column;
    .bookmarks-btn {
      display: none;
    }
    button {
      width: 60px;
      height: 60px;
      font-size: 24px;
      flex: unset;
    }
    button + button {
      margin-left: 0;
      margin-top: -1px;
    }
    button:last-of-type {
      border-right: 1px solid $light-gray;
    }
  }
}

.sidebar {
  width: 100%;
  height: calc(100vh - 50px);
  padding: 20px 15px;
  background: $lightest-gray;;
  overflow-y: auto;
  z-index: 1;
  h2 {
    display: inline-block;
    i {
      font-size: 20px;
      vertical-align: top;
      margin-top: 5px;
      margin-right: 5px;
    }
  }
  .close-sidebar {
    display: none;
  }
}

$sidebarWidth: 375px;
@media (min-width: 600px) {
  .sidebar {
    height: 100vh;
  }
  .sidebar-container {
    left: unset;

    position: fixed;
    right: 0;
    max-width: $sidebarWidth;
    border-left: 1px solid $light-gray;
    box-shadow: $box-shadow;
    display: flex;
    height: 100%;
    transition: right 250ms ease-out;
    // overflow-y: auto;
    &.show-false {
      right: -$sidebarWidth;
    }
    &.show-true {
      right: 0;
    }
    &.show-false .sidebar {
      position: relative;
      left: unset;
      display: block;
    }
    &.show-true .sidebar {
    }
  }
  .sidebar {
    padding: 20px;
    .close-sidebar {
      display: inline-block;
      float: right;
      background: none;
      margin-top: -5px;
      padding: 8px 12px;
      border: 0;
    }
  }
}
