@import '../../variables.scss';

.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  .wrapper {
    padding: 50px 0;
  }
}

.search-form, .page-buttons {
  padding: 0 15px;
  max-width: 750px;
  margin: 0 auto;
}
.search-form {
  margin-bottom: 40px;
}
.page-buttons {
  margin-bottom: 30px;
}

@media (min-width: 600px) {
  .search-form, .page-buttons {
    padding: 0 70px;
  }
}
.page-buttons {
  display: flex;
  justify-content: space-between;
  > :only-child {
    margin: 0 auto;
  }
}

.logout-link {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  padding: 15px;
  color: $light-gray;
  font-size: 14px;
  i {
    font-size: 12px;
    margin-right: 5px;
  }
  &:hover {
    color: $purple;
    opacity: 0.75;
  }
}
@media (min-width: 800px) {
  .logout-link {
    top: 10px;
    right: 20px;

  }
}

.unsplash-attribution {
  position: absolute;
  color: $light-gray;
  bottom: 15px;
  left: 15px;
  line-height: 1.4em;
  a {
    color: $light-purple;
  }
}
