.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  .wrapper {
    padding: 50px 0;
  }
}

.search-form, .page-buttons {
  padding: 0 15px;
  max-width: 750px;
  margin: 0 auto;
}
.search-form {
  margin-bottom: 40px;
}
.page-buttons {
  margin-bottom: 30px;
}

@media (min-width: 600px) {
  .search-form, .page-buttons {
    padding: 0 70px;
  }
}


.page-buttons {
  display: flex;
  justify-content: space-between;
  > :only-child {
    margin: 0 auto;
  }
}
