$dark-gray: #424242;
$gray: #757575;
$light-gray: #BDBDBD;
$lighter-gray: #EEEEEE;
$lightest-gray: #FAFAFA;

$purple: #7E57C2;
$light-purple: #9575CD;
$blue: #42A5F5;
$green: #66BB6A;
$dark-green: #388e3c;
$red: #ef5350;
$dark-red: #d32f2f;


$box-shadow: 0 1px 7px rgba(17, 16, 16, 0.3);
