// background
.Notes {
  // background: url('../../../img/notes/lightpaperfibers.png'); // too subtle
  // background: url('../../../img/notes/handmadepaper.png'); // too gray
  // background: url('../../../img/notes/paper_3.png'); // too messy
  // background: url('../../../img/notes/ricepaper_v3.png'); // too yellow
  // background: url('../../../img/notes/paper_fibers.png'); // pretty good, a little gray
  // background: url('../../../img/notes/ricepaper2.png'); // pretty good, a little rustic
  // maybe you could add a yellow tint to the last one. maybe a mix of ricepaper 2 and 3
}

// containers
.Notes {
  .ql-toolbar.ql-snow {
    padding: 0;
    border: 0;
  }
  .ql-editor {
    padding: 0;
    border: 0;
  }
  .ql-container.ql-snow {
    border: 0;
    height: unset;
  }
  @media (min-width: 600px) {

  }

  // editor
  .ql-toolbar.ql-snow .ql-formats {
    margin-right: 2px;
  }
  .ql-editor {
    font-size: 16px;
    margin-top: 15px;
    min-height: calc(100vh - 150px);
  }
  .ql-snow .ql-editor {
    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.25em;
    }
  }
  .ql-editor.ql-blank::before {
    left: 0;
    right: 0;
  }
  .ql-editor ol, .ql-editor ul {
    padding-left: 0;
  }
  .ql-editor ul[data-checked=true] {
    text-decoration: line-through;
  }
  .ql-editor ul[data-checked=true] > li::before, .ql-editor ul[data-checked=false] > li::before {
    font-size: 24px;
    line-height: 22.72px;
    color: #333;
  }
  .ql-editor ul li:not(.ql-direction-rtl) {
    padding-left: 1.2em;
  }
  .ql-editor ul[data-checked=true] li:not(.ql-direction-rtl), .ql-editor ul[data-checked=false] li:not(.ql-direction-rtl) {
    padding-left: 1.5em;
  }
}

@media (max-width: 380px) {
  .ql-snow .ql-formats:last-of-type {
    display: none;
  }
}
